option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: sms_register.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: sms_register.settings.dev
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static